/*
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.favorite-ristorante__bg {
    background-image: url(../img/FavoriteRistorante/BG_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.favorite-ristorante__body {
    padding-top: 42px;
    padding-bottom: 100px;
}
.favorite-ristorante__header {
    text-align: center;
}
.header-logo__link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo__img {
    margin: 0 5px;
}
.header-menu__items {
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
    margin: 50px auto 0;
}
.header-menu__link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #c3c2c2;
    text-decoration: unset;
}
.favorite-ristorante__column {
    text-align: center;
}
.item-favorite-ristorante__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 71px;
    color: #fff;
    text-transform: uppercase;
    margin:112px 0 26px;
}
.title__item{
    display: block;
}
.item-favorite-ristorante__text {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: #fff;
    margin:0 auto 30px;
    max-width: 914px;
}
.item-favorite-ristorante__link{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.075em;
    color: #fff;
    text-decoration: unset;
}
.item-favorite-ristorante__link:hover {
    cursor: pointer;
}
.item-favorite-ristorante__link_bg-size {
    background-color: #e84545;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 46px;
    margin: 0 auto;
}

/* контейнер с формой */

.favorite-ristorante__form {
    display: flex;
    justify-content: space-evenly;
    margin: 36px 0;
}
.item-favorite-ristorante__date {
    width: 220px;
    height: 56px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    box-sizing: border-box;
}
.item-favorite-ristorante__time {
    width: 220px;
    height: 56px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    box-sizing: border-box;
}
.item-favorite-ristorante__people {
    width: 220px;
    height: 56px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    box-sizing: border-box;
}
.item-favorite-ristorante__btn {
    width: 220px;
    height: 56px;
    background-color: #222c2e;
    border-radius: 8px;
    color: #fff;
    box-sizing: border-box;
}
.item-favorite-ristorante__date,
.item-favorite-ristorante__time,
.item-favorite-ristorante__people {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: #838383;
}
.item-favorite-ristorante__date:hover,
.item-favorite-ristorante__time:hover,
.item-favorite-ristorante__people:hover {
    border-color: #e84545;
}
.item-favorite-ristorante__date:active,
.item-favorite-ristorante__time:active,
.item-favorite-ristorante__people:active {
    border-color: #e84545;
}
.item-favorite-ristorante__date:focus,
.item-favorite-ristorante__time:focus,
.item-favorite-ristorante__people:focus {
    border-color: #e84545;
}
/* --------------------- первый раздел Best in town */
.best-in-town__bg {
    background-color: #f6f6f6;
    padding: 50px 50px 97px;
}
/* заголовок раздела */
.best-in-town__title {
    font-family: 'Dancing Script', cursive;
    font-size: 102px;
    font-weight: 400;
    text-align: center;
}
.best-in-town__text {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}
/* лучшие 3 блюда в городе */
.best-in-town__row-column {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 30px;
    height: 500px;
}
.best-in-town__text-column {
    max-width: 300px;
}
.best-in-town__column{
    padding: 8px;
}
/* лучшие 3 блюда в городе заголовки */
.item-best-in-town__title {
    max-width: 230px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 30px auto 0;
    color: #40403f;
}
/* лучшие 3 блюда в городе текст */
.item-best-in-town__text {
    max-width: 232px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 40px auto 0;
    color: #40403f;
}
/* лучшие 3 блюда в городе елемент скрытия текста и ховера при наведении  */
.text-wrapping {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.item-best-in-town__text-second {
    display: none;
}
.best-in-town__column:hover .item-best-in-town__text-second {
    display: block;
}
.best-in-town__column:hover .text-wrapping {
    display: block;
    overflow: visible;
    -webkit-box-orient: inherit;
    text-overflow: unset;        
}
.best-in-town__column:hover {
    background-color: #fff;
    border: 1px solid #000000;
    padding: 7px;
}
/* лучшие 3 блюда в городе расположение горячего предложения */
.item-best-in-town__img-hot{
    height: 1px;
    position: relative;
    top: 290px;
    left: 20px;
}
/*-------------------------- меню */
.menu__bg {
    background-color: #222c2e;
    padding: 100px 0px;
}
.menu__title {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 75px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-image: url(../img/Menu/Vector-Smart-Object-copy-3.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 0;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.menu__text {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    max-width: 925px;
    text-align: center;
    margin:  0 auto;
}