/*
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.favorite-ristorante__bg {
    background-image: url(../img/FavoriteRistorante/BG_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.favorite-ristorante__body {
    padding-top: 42px;
    padding-bottom: 100px;
}
.favorite-ristorante__header {
    text-align: center;
}
.header-logo__link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo__img {
    margin: 0 5px;
}
.header-menu__items {
    display: flex;
    justify-content: space-evenly;
    
    max-width: 700px;
    margin: 50px auto 0;
}
.header-menu__link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #c3c2c2;
    text-decoration: unset;
   
}
.favorite-ristorante__column {
    text-align: center;
    color: #fff;
}
.item-favorite-ristorante__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 71px;
    text-transform: uppercase;
    margin:112px 0 26px;
}
.title__item{
    display: block;
}
.item-favorite-ristorante__text {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin:0 auto 30px;
    max-width: 914px;
}
.item-favorite-ristorante__link{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.075em;
    color: #fff;
    text-decoration: unset;
}
.item-favorite-ristorante__link:hover {
    cursor: pointer;
}
.item-favorite-ristorante__link_bg-size {
    background-color: #e84545;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 46px;
    margin: 0 auto;
}
.favorite-ristorante__form {
    display: flex;
    justify-content: space-between;
    margin: 36px 0;
}
.item-favorite-ristorante__date {
    width: 200px;
    height: 56px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
}
.item-favorite-ristorante__time {
    width: 220px;
    height: 56px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
}
.item-favorite-ristorante__people {
        width: 220px;
    height: 56px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
}
.item-favorite-ristorante__btn {
        width: 220px;
    height: 56px;
    background-color: #222c2e;
    border-radius: 8px;
    color: #fff;
}